<template>
  <b-card-group columns>
    <b-card v-for="(show, index) in shows" :key="index"
        :title="show['name']"
        :img-src="show['image']['medium']"
        img-alt="Image"
        img-top
        text-variant="center"
    >
    </b-card>
  </b-card-group>
</template>

<script>
export default {
  name: "GridCards",
  computed: {
    shows () { return this.$store.state.shows },
  }
}
</script>

<style scoped>
.row {
  display: flex;
  flex-wrap: wrap;
}

.row > div[class*='col-'] {
  display: flex;
}

</style>
