<template>
  <div>
    <ul class="list-unstyled">
      <b-media v-for="(show, index) in shows" :key="index" tag="li" class="my-2">
        <template #aside>
          <b-img :src="show.image['medium']" fluid alt="Fluid image"></b-img>
        </template>
        <h2 class="mt-0 mb-1">{{ show.name }}</h2>
        <div v-html="show['summary']"></div>
      </b-media>

    </ul>
  </div>
</template>

<script>
export default {
  name: "ListCards",
  computed: {
    shows () { return this.$store.state.shows },
  }
}
</script>

<style scoped>

</style>
