<template>
  <b-navbar toggleable="lg" type="dark" variant="info" class="mb-2">
    <b-navbar-brand href="#">TV Show Catalog</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>

      <b-button size="sm" class="ml-auto my-2 my-sm-0"  @click="changeListType" >
        {{ listType }} view:
        <b-icon-list-task v-if="listType === 'list' " />
        <b-icon-grid3x3-gap-fill  v-else />
      </b-button>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-form v-on:submit.prevent="submitForm()">
          <b-form-input size="m" class="m-2" name="search" v-model="formSearch" placeholder="Search"></b-form-input>
          <b-button size="sm" class="my-2 my-sm-0" type="submit"><b-icon-search /></b-button>
        </b-nav-form>

      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
export default {
  name: "NavBar",
  data () {
    return {
      formSearch: '',
    }
  },
  computed: {
    listType () { return this.$store.state.listType },
  },
  methods: {
    submitForm () {
      this.$store.commit('setSearch', this.formSearch)
    },
    changeListType () {
      let type = this.listType === 'grid' ? 'list' : 'grid'
      this.$store.commit('setListType', type)
    }
  }
}
</script>

<style scoped>

</style>
