<template>
  <div>
    <grid-cards v-if="listType === 'grid'"/>
    <list-cards v-else />
  </div>
</template>

<script>
import GridCards from '@/components/GridCards';
import ListCards from '@/components/ListCards';
export default {
  name: "Shows",
  components: {ListCards, GridCards},
  log: null,
  created() {
    this.getApiData()
  },
  computed: {
    listType () { return this.$store.state.listType },
    search () { return this.$store.state.search },
    api () { return this.$store.state.api },
  },
  methods: {
    getApiData() {
      let cache = JSON.parse(window.localStorage.getItem(this.search || 'all-shows'))
      if (cache){
        this.log = cache
        console.log('got from cache')
        this.$store.commit('setShows', cache)
      } else {
        this.axios.get(this.api + '/api', { params: { q: this.search} }).then((response) => {
          this.$store.commit('setShows', response.data)
          window.localStorage.setItem(this.search || 'all-shows', JSON.stringify(response.data))
        })
      }

    }
  },
  watch: {
    search () {
      this.getApiData()
    }
  }
}
</script>

<style scoped>

</style>
